  * {
    margin: 0;
    padding: 0;
  }
 
  body {
    background-color: rgb(51, 51, 51);
  }
 

  .container-calculadora {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .corpo-calculadora {
    background-color: white;
    width: 300px;
    border-radius: 5px;
  }
  
  .monitor-calculadora input {
    background-color: #fffee9;
    display: block;
    height: 50px;
    width: 95%;
    margin: 30px auto 10px auto;
    text-align: end;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
  }
  
  .btn {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(170, 248, 253);
    font-size: 18px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 1px 2px;
  }

  .btn-2 {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(123, 158, 255);
    font-size: 18px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 1px 2px;
  }
  
  
  .btn-container > div[style*="grid-row"] .btn-2 {
    height: calc(70px * 2 + 5px);
  }
  
  .btn:active {
    background-color: rgb(142, 244, 252);
    box-shadow: 0 2px rgb(151, 245, 252);
    transform: translateY(2px);
    box-shadow: 0 1px 2px;
  }

  .btn-2:active {
    background-color: rgb(102, 142, 253);
    box-shadow: 0 2px rgb(106, 145, 252);
    transform: translateY(2px);
    box-shadow: 0 1px 2px;
  }
  